# Example of a DRBD device description file
#
# Alter this skeleton and copy it as drbd[0,1,2,...] as needed
# Fábio Olivé Leite <olive@conectiva.com.br>
# 
# This file is part of drbd by Philipp Reisner
#
# drbd is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2, or (at your option)
# any later version.
#
# drbd is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with drbd; see the file COPYING.  If not, write to
# the Free Software Foundation, 675 Mass Ave, Cambridge, MA 02139, USA.
#

# master and slave addr addr[:port]
# default port: 7788
# Important: don't use domain names here, only the hostnames 
# as reported by hostname -s
NODE1_HOST="ha1:7788"
NODE2_HOST="ha2:7788"


# If you have machines with multiple NICs, you may want to specify
# the interface by it's IP address here. 
#
# If you machines only have one NIC do not set these, BY LEAVING
# THEM WITH EMPTY QUOTES. Otherwise you will confuse init.d/drbd.
# That means, DO NOT COMMENT THEM OUT! :)
#
# If you use these fields, put any port identifies (:[0-9]+) here, you
# do not need to specify them at the *_NODE entries.
NODE1_IF=""
NODE2_IF=""

# Options:
#       -t --timeout  val
#          If communication blocks for val * 1/10 seconds,
#          drbd falls back into unconnected operation.
#          Default: 30 = 3 sec.
#
#       -r --sync-rate val
#          The synchronisations sends up to val KB per sec.
#          Default: 250 = 250 KB/sec
#
#       -k --skip-sync
#          Instruct drbd not to do synchronisation.
#
#       -s --tl-size val
#          Sets the size of the transfer log(=TL). The TL is
#          is used for dependency analysis. For long latency
#          high bandwith links it might be necessary to set
#          the size bigger than 256.
#          You will see error messages in the system log
#          if the TL is too small.
#          Default: 256 entries
#
#       -d --disk-size val
#          Sets drbd's size. When set to 0 drbd negotiates the
#          size with the remote node.
#          A value different from 0 will allow drbd to operate even without
#          a connection to the other node. Make sure sizes match!
#          Default: 0 KB.
#
#       -p --do-panic
#          drbd will trigger a kernel panic if there is an
#          IO error on the lower_device. May be usefull when
#          drbd is used in a HA cluster.
OPTIONS=""

# Protocol used for this device
# protocol may be A, B or C.
PROTOCOL="B"

# Devices used in master and slave (may be different on each machine)
NODE1_DEVICE="/dev/nb0"
NODE2_DEVICE="/dev/nb0"

# Partitions for drbd (can be a different partition on each machine)
NODE1_PARTITION="/dev/hda3"
NODE2_PARTITION="/dev/hda3"

# fsck command (ALWAYS keep the -p for automatic error correction)
NODE1_FSCK="fsck -p -y"
NODE2_FSCK="fsck -p -y"
