/autom4te.cache
/config.log
/config.status
/configure
/drbd-*.tar.gz
/drbd.spec
/drbd-kernel.spec
/drbd-km.spec
/ID
/TODO
/tags
/Makefile

user/Makefile
scripts/Makefile
documentation/Makefile

./.filelist
./drbd_config.h

*.gcda
*.gcno
*.o

drbd/drbd.ko
drbd/.*.cmd
drbd/.kernel.config.gz
drbd/.drbd_kernelrelease
drbd/.drbd_kernelrelease.new
drbd/.tmp_versions
drbd/Module.symvers
drbd/drbd.mod.c
drbd/drbd_buildtag.c
drbd/linux/drbd_config.h.orig

user/config.h
user/config.h.in
user/drbd_buildtag.c
user/drbd_strings.c
user/drbdadm
user/drbdadm_scanner.c
user/drbdmeta
user/drbdmeta_scanner.c
user/drbdsetup

documentation/drbd.8
documentation/drbd.conf.5
documentation/drbdadm.8
documentation/drbddisk.8
documentation/drbdmeta.8
documentation/drbdsetup.8
documentation/manpage.links
documentation/manpage.refs

benchmark/dm
