/drbd-*.tar.gz
/ID
/TODO
/tags

/.filelist

*.gcda
*.gcno
*.o
*.o.*

drbd/tags
drbd/cscope.out
drbd/build-*/
drbd/compat*.h
drbd/compat*.patch
drbd/.drbd_git_revision
drbd/dummy-for-compat-h.c
drbd/dummy-for-patch.c

/drbd-kmod_rhel.spdx
/drbd-kmod_sles.spdx
