#
# DRBD device driver configuration
#
config BLK_DEV_DRBD
	tristate "DRBD Distributed replicated block device support"
	select INET
	select PROC_FS
	---help---
	  Drbd is a block device which is designed to build high availability
	  clusters.  This is done by mirroring a whole block device via (a
	  dedicated) network.  You could see it as a network RAID 1.

	  Each device (drbd provides more than one of these devices) has a
	  state, which can be 'primary' or 'secondary'. On the node with the
	  primary device the application is supposed to run and to access the
	  device (/dev/drbdX). Every write is sent to the local 'lower level
	  block device' and via network to the node with the device in
	  'secondary' state.
	  The secondary device simply writes the data to its lower level block
	  device. Reads are always carried out locally.

	  Drbd management is done through user-space tools.

	  Historically DRBD hijacked the NBD major number (43)
	  and device nodes (/dev/nbX).
	  We now have an officially assigned major number (147)
	  and /dev/drbdX.

	  If for whatever weird reason you want to keep the old behaviour,
	  you can give a "use_nbd_major" module parameter.

	  http://www.drbd.org/

	  If unsure, say N.
