Source: drbd
Section: misc
Priority: extra
Maintainer: David Krovich <dkrovich@csee.wvu.edu>
Uploaders: Philipp Hug <debian@hug.cx>
Build-Depends: debhelper (>= 4), debconf-utils, sp, docbook-utils, bison, flex
Standards-Version: 3.6.1

Package: drbd
Architecture: any
Section: misc
Depends: debconf, ${misc:Depends}
Suggests: heartbeat
Description: RAID 1 over tcp/ip for Linux utilities
 Drbd is a block device which is designed to build high availability
 clusters by providing a virtual shared device which keeps disks in nodes
 synchronised using TCP/IP. This simulates RAID 1 but avoiding the 
 use of uncommon hardware (shared SCSI buses or Fibre Channel). 
 It is currently limited to fail-over HA clusters.
 .
 This package contains the programs that will control the 
 drbd kernel module provided in drbd-source. You will need a clustering
 service (such as heartbeat) to fully implement it.
 .
 Homepage: http://www.drbd.org

Package: drbd-source
Architecture: all
Section: misc
Depends: module-assistant
Recommends:  dpkg-dev, kernel-package, debhelper (>= 4), debconf-utils
Description: RAID 1 over tcp/ip for Linux module source
 Drbd is a block device which is designed to build high availability
 clusters by providing a virtual shared device which keeps disks in nodes
 synchronised using TCP/IP. This simulates RAID 1 but avoiding the 
 use of uncommon hardware (shared SCSI buses or Fibre Channel). 
 It is currently limited to fail-over HA clusters.
 .
 This package contains the programs that will control the 
 drbd kernel module provided in drbd-source. You will need a clustering
 service (such as heartbeat) to fully implement it.
 .
 Homepage: http://www.drbd.org
