resource example {
	options {
		on-no-data-accessible suspend-io;
	}

	net {
		cram-hmac-alg "sha1";
		shared-secret "secret_string";
	}

	# The disk section is possible on resource level and in each
	# volume section
	disk {
		# If you have a resonable RAID controller
		# with non volatile write cache (BBWC, flash)
		disk-flushes no;
		disk-barrier no;
		md-flushes no;
	}

	# volume sections on resource level, are inherited to all node
	# sections. Place it here if the backing devices have the same
	# device names on all your nodes.
	volume 1 {
		device minor 1;
		disk /dev/sdb1;
		meta-disk internal;

		disk {
			resync-after example/0;
		}
	}

	on wurzel {
		address	192.168.47.1:7780;

		volume 0 {
		       device minor 0;
		       disk /dev/vg_wurzel/lg_example;
		       meta-disk /dev/vg_wurzel/lv_example_md;
		}
	}
	on sepp {
		address	192.168.47.2:7780;

		volume 0 {
		       device minor 0;
		       disk /dev/vg_sepp/lg_example;
		       meta-disk /dev/vg_sepp/lv_example_md;
		}
	}
}

resource "ipv6_example_res" {
	net {
		cram-hmac-alg "sha1";
		shared-secret "ieho4CiiUmaes6Ai";
	}

	volume 2 {
		device	"/dev/drbd_fancy_name" minor 0;
		disk	/dev/vg0/example2;
		meta-disk internal;
	}

	on amd {
		# Here is an example of ipv6.
		# If you want to use ipv4 in ipv6 i.e. something like [::ffff:192.168.22.11]
		# you have to set disable-ip-verification in the global section.
		address	ipv6 [fd0c:39f4:f135:305:230:48ff:fe63:5c9a]:7789;
	}

	on alf {
		address ipv6 [fd0c:39f4:f135:305:230:48ff:fe63:5ebe]:7789;
	}
}


#
# A two volume setup with a node for disaster recovery in an off-site location.
#

resource alpha-bravo {
	net {
		cram-hmac-alg "sha1";
		shared-secret "Gei6mahcui4Ai0Oh";
	}

	on alpha {
		volume 0 {
			device minor 0;
			disk /dev/foo;
			meta-disk /dev/bar;
		}
		volume 1 {
			device minor 1;
			disk /dev/foo1;
			meta-disk /dev/bar1;
		}
		address	192.168.23.21:7780;
	}
	on bravo {
		volume 0 {
			device minor 0;
			disk /dev/foo;
			meta-disk /dev/bar;
		}
		volume 1 {
			device minor 1;
			disk /dev/foo1;
			meta-disk /dev/bar1;
		}
		address	192.168.23.22:7780;
	}
}

resource stacked_multi_volume {
	net {
		protocol A;

		on-congestion pull-ahead;
		congestion-fill 400M;
		congestion-extents 1000;
	}

	disk {
		c-fill-target 10M;
	}

	volume 0 { device minor 10; }
	volume 1 { device minor 11; }

	proxy {
		memlimit 500M;
		plugin {
			lzma contexts 4 level 9;
		}
	}

	stacked-on-top-of alpha-bravo {
		address	192.168.23.23:7780;

		proxy on charly {
			# In the regular production site, there is a dedicated host to run
			# DRBD-proxy
			inside    192.168.23.24:7780; # for connections to DRBD
			outside   172.16.17.18:7780; # for connections over the WAN or VPN
			options {
				memlimit 1G; # Additional proxy options are possible here
			}
		}
	}
	on delta {
		volume 0 {
			device minor 0;
			disk /dev/foo;
			meta-disk /dev/bar;
		}
		volume 1 {
			device minor 1;
			disk /dev/foo1;
			meta-disk /dev/bar1;
		}
		address	127.0.0.2:7780;

		proxy on delta {
			# In the DR-site the proxy runs on the machine that stores the data
			inside 127.0.0.1:7780;
			outside 172.16.17.19:7780;
		}
	}
}
